@charset "utf-8";

/* general style */
body {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 18px;
    background-color: #ececec;
}

/* headlines */
h1, h2, h3, h4, h5, h6 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    color: #2771b5;
}


h1 {
    margin: 50px 0 35px 0;
    border-bottom: 1px LightGrey solid;
}

h2 {
    margin-bottom: 40px;
    padding: 5px;
    width: 98%;
    line-height: 150%;
}

h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 98%;
    line-height: 150%;
}

a {
    color: #398ad5;
}

a:hover {
    color: #2771b5;
}

img {
    display: block;
    box-shadow: 0 0 8px #555;
    border-radius: 6px;
    margin: 24px auto 25px auto;
    max-width: 90%;
    height: auto;
    vertical-align: middle;
}

pre {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    font-size: 80%;
    background-color: #FAFAFA;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 12px;
    line-height: 1.5;
    display: block;
    width: 100%;
    overflow: auto;
}

code {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
}

blockquote {
    border-left: 5px lightgrey solid;
    padding-left: 15px;
    margin-left: 20px;
    background: #f4f4f4;
}


/* navbar */
.navbar-light .navbar-brand {
    font-size: 27px;
    color: #398ad5;
}
.navbar-light .navbar-brand:hover {
    color: #2771b5;
}

.navbar-light .navbar-nav .nav-link  {
    font-size: 21px;
    color: #398ad5;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2771b5;
}

.navbar-light .navbar-toggler {
    border-color: #2771b57a;
}
/* body */
div.box {
    max-width: 880px;
    margin: 1% auto;
    border: 1px solid #DDD;
    box-shadow: 0 0 2px #DDD;
    background-color: #ffffff;
    padding: 2% 4%;
}

/* footer */
div.footer {
    padding: 40px;
    font-size: 14px;
    text-align: right;
    color: #7b8894;
}

div.footer p {
    margin: 0;
}

div.footer a {
    color: #7b8894;
    text-decoration: underline;
}


/* blog overview */
div.home-body {
     margin: 1% 5%;
}


.entry-overview {
    margin-bottom: 25px;
}

div.entry-overview .date {
    color: #7b8894;
    text-align: right;
    padding: 5px 0;
    font-size: 10px;
}

div.entry-overview a {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    line-height: 140%;
    font-size: 20px;
    color: #2771b5;
}

div.entry-overview span.summary {
    line-height: 140%;
    font-size: 15px;
    color: #394856;
}

/* pagination */
div.mypagination {
    margin: 30px 0 0 0;
    text-align: center;
    color: #394856;
}

div.my-pagination strong {
    font-style: italic;
}

/* tags */
p.tags {
    text-align: right;
    margin-top: 35px;
}

ul.tagcloud {
    font-size: 16px;
    margin: 36px 0;
    padding: 0;
    list-style: none;
    line-height: 1.45;
    text-align: justify
}

ul.tagcloud li {
    margin: 0;
    padding: 0 10px;
    display: inline;
}
